:root {
    --border-color: #ffb3c1;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    background-image: url(homee.png);
    background-size: contain;
    font-family: 'Itim';
}

nav{
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    background: #ff758f;
}

nav > .nav-section{
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var (--border-color);
  align-items: center;
}

#nav-back-section, #nav-text-section{
  flex-basis: calc(100%/2);
}

*{
  box-sizing: border-box;
}

a, p, span {
  font-family: 'Itim';
  font-weight: 400;
  color: white;
}

#title{
    font-size: 5vh;
    font-weight: bold;
    margin: 0;
    margin-top: 20px;
    color: #ff758f;
    text-align: center;
}

#text{
    color: #2c2c2c;
    font-size: 2vh;
    font-family: 'Itim';
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

#subtext{
    color: #2c2c2c;
    font-size: 2vh;
    font-family: 'Itim';
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

#blogtext{
    color: #2c2c2c;
    font-size: 2vh;
    font-family: 'Itim';
    text-align: left;
    margin-left: 15px;
    margin-right: 40px;
}

#list{
    color: #2c2c2c;
    font-size: 2vh;
    font-family: 'Itim';
    margin-left: 15px;
}

#links{
    color: #ff758f;
    font-size: 2vh;
    font-family: 'Itim';
    margin-left: 15px;
}

a{
  text-decoration: none;
}

main {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

main > article{
    display: flex;
    align-items: center;
    justify-content: center;
}

main > article > .article-section {
  display: flex;
  height: 70vh;
  width: 100vh;
  margin-top: 5vh;
  border: 1px solid #ff758f;
  border-bottom: 10px solid #ff758f;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 5px 5px 2px rgba(83, 83, 83, 0.301);
  background-color: white;
}
